<h1>Current Conditions for <%= @city %></h1>

<!-- <p>Ruby Data:</p>
 --><p> It is a beautiful <%= @data["main"]["temp"] %> Degrees Farenheit outside.</p>

<!-- <p>Raw JSON response:</p>
<p><%= @json_data %></p>
 -->
